@mixin font-face($font, $alias, $folder, $formats) {
	$src: null;

	@each $format in $formats {
		$src: append($src, url(quote($folder + '/' + $alias + "." + $format)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($font);
		src: $src;
	}
}