@mixin font-face($font, $alias, $folder, $formats) {
	$src: null;

	@each $format in $formats {
		$src: append($src, url(quote($folder + '/' + $alias + "." + $format)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($font);
		src: $src;
	}
}

@mixin container($size) {
	max-width: $size;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	font-weight: normal;
}
@mixin clearfix {
	&:after {
		clear: both;
		display:table;
		content: "";
	}
}