$blue: #81b3d2;
$light-black: #333333;
$grey: #eeeeee;
$white: #ffffff;
$black: #000000;
$dark-blue: #678fa8;
$light-blue: #9ac2db;
$font: 'PT Sans', Arial, sans-serif;
$font-bold: 'PT Sans Bold', Arial, sans-serif;
$mobile: 479px;
$tablet: 767px;
$desktop: 1200px;