.main-menu {
	margin: 0;
	padding: 0;
	font-size: 0;

}
.main-menu__item {
	display: inline-block;
	font-size: 14px;
	width: 20%;
	vertical-align: middle;
	font-family: PT Sans Bold, sans-serif;
    text-transform: uppercase;
    &--logo {
    	height: 56px;
    }
    a {
    	color: inherit;
    	text-decoration: none;
    }
}