.mobile-menu {
	position: relative;
	@include container($desktop);
}

.mobile-menu__list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: $font-bold;
	font-size: 18px;
	text-align: center;
}
.mobile-menu__item {
	display: block;
	padding: 20px 0px;
	background: $blue;
	border-bottom: 1px solid $dark-blue;
	border-top: 1px solid $light-blue;
	color: $white;
	text-transform: uppercase;

	&:first-of-type {
		border-top: none;
	}
	&:last-of-type {
		border-bottom: none;
	}
}
.mobile-menu__item a {
	color: inherit;
	text-decoration: none;
}
.mobile-menu__open {
	font-size: 0;
	background-image: url(../img/icon-menu.svg);
	position: absolute;
	background-size: 100%;
	width: 22px;
	height: 22px;
	right: 15px;
	top: 15px;
}
.mobile-menu__close {
	width: 22px;
	height: 22px;
	position: absolute;
	background-size: 100%;
	background-image: url(../img/icon-cross.svg);
	right: 15px;
	top: 15px;
}
@media (max-width: $tablet) {
	.main-nav {
		@include container($tablet);
	}
}
@media (max-width: $mobile) {
	.main-nav {
		@include container($mobile);
	}
}